  .title {
    font-family:'Times New Roman', Times, serif ;
    color: rgb(72, 47, 16);
  }
  
  .select {
    padding: 5px;
  }
  #select {
    height: 30px;
    width: 80px;
  }
  .image{
    width: 40% ;
}

.title{
    text-decoration: underline;
    color:rgb(99, 20, 20)
}

.checked {
    color: orange;
  }